annotated-types==0.7.0
astroid==3.3.11
black==25.1.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
cloudpickle==3.1.1
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
dill==0.4.0
dittogym @ git+https://github.com/suninghuang19/dittogym.git@ce4ec08570064acbcf142b0cccaa7e6140794dcd
docformatter==1.7.7
filelock==3.13.1
fonttools==4.59.1
fsspec==2024.6.1
gitdb==4.0.12
GitPython==3.1.45
gym==0.26.2
gym-notices==0.1.0
idna==3.10
iniconfig==2.1.0
isort==6.0.1
Jinja2==3.1.4
kiwisolver==1.4.9
markdown-it-py==4.0.0
MarkupSafe==2.1.5
matplotlib==3.10.5
mccabe==0.7.0
mdurl==0.1.2
mpmath==1.3.0
mypy==1.17.1
mypy_extensions==1.1.0
networkx==3.3
numpy==1.23.5
opencv-python==4.11.0.86
packaging==25.0
pathspec==0.12.1
pillow==11.3.0
platformdirs==4.3.8
pluggy==1.6.0
protobuf==6.32.0
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
pylint==3.3.8
pyparsing==3.2.3
pytest==8.4.1
pytest-pylint==0.21.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.5
rich==14.1.0
scipy==1.13.0
sentry-sdk==2.35.0
six==1.17.0
smmap==5.0.2
sympy==1.13.3
taichi==1.7.4
#-e git+https://github.com/Alex-Lee-Chang/thinkingsquishy.git@8af1cf7627831a6cc87f31206f6cc677a9e20c7f#egg=thinkingsquishy
tomlkit==0.13.3
torch==2.8.0+cu129
torchvision==0.23.0+cu129
triangle==20250106
typing-inspection==0.4.1
typing_extensions==4.14.1
untokenize==0.1.1
urllib3==2.5.0
wandb==0.21.1
